### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Kotlin ###
# Compiled class files
*.class

### IntelliJ IDEA Additional ###
# All .iml files in project
*.iml
modules.xml
*.ipr
*.iws
workspace.xml

### Build ###
# Gradle
.gradle/
build/

# Maven
target/

### Logs ###
*.log